# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Secrets
cookies.txt

# Python cache
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Local project data
data/
metadata.json
transcripts.json
status.json

# Logs
*.log

# Credentials
credentials/
*.json

# cloud flare stuff
cloudflare-worker
python_test_script.py